{% extends "base.html" %}
{%  block styles %}
    {{ super() }}
    <link href="static/css/infobord.css" rel="stylesheet">

{%  endblock %}

{% block body %}
    {{ super() }}
    <div style="display:flex;">
        <h2>Vervangingen voor {{ global_data.school }}</h2>&nbsp;&nbsp;
        <select id="info-date"></select>&nbsp;&nbsp;
        <a type="button" id="preview" class="btn btn-success">Preview</a></div>
    </div>
    <div id="info-table"></div>

{% endblock %}

{% block scripts %}
   {{ super() }}
    <script>
    const global_data = {{ (global_data or {})|tojson }};
    </script>
    <script type="module" src="/static/js/project/infobord.js"></script>
{% endblock %}
